# postgres config
POSTGRES_PASSWORD=password
POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=postgres:5432

# email config
MAIL_USERNAME=user@gmail.com
MAIL_PASSWORD=password
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=465                                                  
MAIL_USE_SSL=1

# rabbitmq config
RABBITMQ_DEFAULT_USER=rabbit_user
RABBITMQ_DEFAULT_PASS=rabbit_password
RABBITMQ_DEFAULT_VHOST=rabbit_vhost

ADMINS=user@example.com
