# postgres config
POSTGRES_PASSWORD=password
POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=postgres:5432

# email config
MAIL_USERNAME=user@gmail.com
MAIL_PASSWORD=password
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=465                                                  
MAIL_USE_SSL=1
