{% macro render_field_with_errors(field) %}
    {% if field.__class__.__name__ == 'BooleanField' %}
        <div class="checkbox">
            <label>
                {{ field(*kwargs)|safe }}
                {{ field.label }}
            </label>
        </div>
    {% else %}
        <form>
            <div class="input-group">
                <span class="input-group-addon">{{ field.label }}</span>
                {{ field(class="form-control", **kwargs)|safe }}
            </div>

            {% if field.errors %}
                <ul>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    {% endif %}
{% endmacro %}

{% macro render_field(field) %}
    <p>{{ field(**kwargs)|safe }}</p>
{% endmacro %}
