{% if security.registerable or security.recoverable or security.confirmable %}
    <h2>{{ _('Menu') }}</h2>
    <ul>
        {% set login_url = url_for_security('login') %}
        {% if 'next' in request.args %}
            {% set next_value = request.args.next|urlencode %}
            {% set login_url = login_url + "?next=" + next_value %}
        {% endif %}

        <li><a href="{{ login_url }}">{{ _('Login') }}</a></li>
        {% if security.registerable %}
            {% set register_url = url_for_security('register') %}
            {% if 'next' in request.args %}
                {% set next_value = request.args.next|urlencode %}
                {% set register_url = register_url + '?next=' + request.args.next|urlencode %}
            {% endif %}
            <li><a href="{{ register_url }}">{{ _('Register') }}</a></li>
        {% endif %}
        {% if security.recoverable %}
            <li><a href="{{ url_for_security('forgot_password') }}">{{ _('Forgot password') }}</a><br/></li>
        {% endif %}
        {% if security.confirmable %}
            <li><a href="{{ url_for_security('send_confirmation') }}">{{ _('Confirm account') }}</a></li>
        {% endif %}
    </ul>
{% endif %}
