div.repository-container {
    grid-template-columns: 1fr;
    display: grid;
    grid-gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
    width: auto;
}

@media only screen
and (min-device-width: 600px)
and (min-width: 600px) {
    div.repository-container {
        grid-template-columns: 1fr 1fr;
    }
}

h1, h2 {
    text-align: center;
}
