div#page_content {
    grid-template-columns: 1fr;
    display: grid;
    grid-gap: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    width: auto;
}

.header {
    text-align: center;
}

.raw-output {
    background-color: #eee;
    padding: 10px;
}

textarea#deploy_key {
    height: 150px;
}

@media only screen
and (min-device-width: 600px)
and (min-width: 600px) {
    div#page_content {
        grid-template-columns: 1fr 1fr;
    }

    #home_header {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
