{% extends "base_react.html" %}

{% block content %}
    <div id="page_container" data-home-page="{{ url_for('home') }}"></div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script 
        type="text/babel" 
        src="{{ url_for('static', filename='js/utils/tab_view.jsx') }}">
    </script>
    <script 
        type="text/babel" 
        src="{{ url_for('static', filename='js/admin_page/testing_panel.jsx') }}">
    </script>
    <script
        type="text/babel"
        src="{{ url_for('static', filename='js/admin_page/active_repository_list.jsx') }}">
    </script>
    <script 
        type="text/babel" 
        src="{{ url_for('static', filename='js/admin_page/user_list.jsx') }}">
    </script>
     <script 
        type="text/babel" 
        src="{{ url_for('static', filename='js/admin_page/index.jsx') }}">
    </script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}
