{% extends "base_react.html" %}

{% block content %}
    <div id="page_container" data-home-page="{{ url_for('home') }}"></div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% for script in script_list %}
        <script type="text/babel"
                src="{{ url_for('static', filename=script) }}">
        </script>
    {% endfor %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}
