{% extends "base_react.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="home.css") }}>
{% endblock %}

{% block content %}
    <div id="page_container" data-admin-page="{{ admin_page }}"></div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/babel" src="{{ url_for('static', filename='js/home/repository_add.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/home/repository_list.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/home/index.js') }}"></script>
{% endblock %}
