{% extends "base.html" %}

{% block content %}
    <h1>Home</h1>
    <h2>Your repositories</h2>
    <table>
        <thead>
        <tr>
            <td>URL</td>
            <td>Branch</td>
        </tr>
        </thead>
        <tbody>
        {% for repository in repositories %}
            <tr>
                <td>{{ repository.url }}</td>
                <td>{{ repository.branch }}</td>
            </tr>
        {% endblock %}
        </tbody>
    <tbody>

    </tbody>
    </table>
{% endblock %}
