{% extends "bootstrap/base.html" %}


{% block metas %}
    {{ super() }}
    {% block analytics %}
    {% endblock %}
{% endblock %}

{% block body -%}
    {% block navbar %}
    {%- endblock navbar %}
    <div class="container">
        {% block content -%}
        {%- endblock content %}
    </div>

    {% block scripts %}
        <script src="{{ bootstrap_find_resource('jquery.js', cdn='jquery') }}"></script>
        <script src="{{ bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap') }}"></script>
    {%- endblock scripts %}
{%- endblock body %}
